input::placeholder, [contenteditable]:empty::before, .fallback, .aspect>.name::before
{color:lightgray}

[contenteditable]:focus, [contenteditable]:empty
{border: none;outline: none;text-decoration: underline;}

button{border:none;background:none;}

button::before, .lists>li.selected
{background: white;color: indianred;}

roof>tabset>tab	{color: rgba(255,255,255,.5);}
roof>tabset>tab.selected {color: white}

vault { background: lightslategray;}


.entities>li{background: white;box-shadow: 0 2px 6px rgba(0,0,0,.2);}
.entities>.selected {margin:.5em 0;border-radius:0;box-shadow:none;padding-left: 1.5em;}

.editables {text-align: center;}
.append>textarea {background-color: floralwhite}

.credit>stars:before{opacity: .2;}

.tag.tagged {color: #14b;}


.note { font-style: italic; color: #aaa;}

.xtag, action
	{color: #52f;}
	
stars>stars {color: lightslategray;}


ul.lists {
    padding: 0 .5rem;
    margin: 1rem 0 0 0;
}


.nav>roof {background: darkslategray;color: white;}

.nav>roof::before{
	position:absolute;
	left: -.1em;
	font: bold 1em sans-serif;
	color: rgba(255,255,255,.25);
}

.entity>roof {
  text-align: center;
  padding: 1em;
}

li>.desc {
  color: gray;
}

.nav>etage>attic {
  background: slategray;
}

input.key{border: none;}