/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}
*/
[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{/* position:absolute; */animation: 1s fadein;width: 100%;}
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


html,body {
	font: normal 1rem Roboto, serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1{font:normal 60px Roboto,sans-serif}
h2{font:normal 48px Roboto,sans-serif;}
h3{font:normal 32px Roboto,sans-serif}
h4{font:normal 27px Roboto,sans-serif}
h5{font:normal 24px Roboto,sans-serif}
h6{font:normal 20px Roboto,sans-serif}


[contenteditable] {
    cursor: text !important;
    border: none;
    display: block;
    background: no-repeat;
}

[contenteditable]:empty::before{
	font: italic 1em sans-serif; 
}


icon, button::before, .checked::before
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  padding: .2em;
  margin: 0 .2em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;	/* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;	/* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; 	/* Support for Firefox. */
  font-feature-settings: 'liga';		/* Support for IE. */
}

.checked::before {content: "check";position: absolute;right:0;top:0;}

icon::before, button::before, action:empty::before{
	content:attr(class);
}

button::before{
	vertical-align: middle;
	box-shadow:0 4px 4px rgba(0,0,0,.25);
	border:none;
	border-radius:50%;
	z-index: 1;
}

action{
	display: inline-block;
	font-size: .85em;
	margin: .5em;
	text-transform:uppercase;
}

input, button {outline:none}


roof{
    position:relative;
    z-index: 1;
}

roof>deck {
    position: absolute;
    top: 0;
    right: 0;
}


page {
    flex: 1;
    max-width: 32em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


etage {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
etage>deck {
    position: absolute;
    bottom: 0;
    right: 0;
}

section{
    padding: 1rem;
    position: relative;
}

article {
    margin: 1rem;
}

attic{
	display:flex;
	padding: .5rem;
	margin: 0;
	height: 2rem;
}

attic>select{
	width:100%;
	color: inherit;
	border: none;
	background: none;
	outline: none;
	background: white;
	border-radius: .25em;
	padding-left: .5em;
	margin-right: 1em;
}

attic>bar {
	height: 3rem;
	display: flex;
	flex-direction: row;
}

vault {
    padding: .5rem;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: 1.25em;
    z-index: 1;
}



// ----



tabset {
	bottom:0;
	left: 1rem;
	text-transform: uppercase;
	margin: 0 1em;
}

tab {
    display: inline-block;
    transition: all .5s;
    padding: .5em;
    border-bottom: 3px solid transparent;
}

tab.selected {
    border-bottom-color: inherit;
}



// ----



input.key {
    width: 100%;
    padding-left: 1em;
    border: 2px solid;
    border-radius: .5rem;
}

input, select {
    font-size: inherit;
}

input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
}



// ----



.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
}
.modal>.scrim{
	background: rgba(0,0,0,.32);
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: fadein .25s ease-out;
}
.modal>.dialog {
    padding: 1rem 1.5rem;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
    position: relative;
    margin: auto;
    max-width: 60%;
    display: inline-block;
}

.dialog>input {
    border: none;
    width:100%;
    border-bottom: 2px solid;
}

.dialog>.actions{padding:.5rem;text-align: right;margin: 1rem -1rem -1rem -1rem;}