tab.data::before		{content: "Storage"}
tab.help::before		{content: "Help"}
tab.lists::before		{content: "Lists"}
tab.categories::before	{content: "Categories"}

li.recent::before	{content: "Recent"}
li.offers::before	{content: "Offers"}
li.recent::before	{content: "Recent"}

.title:empty::before	{content: "What's the name of this?"}
.desc:empty::before	{content: "What kind of thing is this?"}


section.tags::before {/* content: "Tags" */}
section.opinions::before{/* content: "Opinions" */}

/*
.createlist>.title::before{content:"Create a new list"}
.createlist>.details::before{content:"What will be its name?"}
.createlist .action::before{content:"Create list"}


			addtolist	:{title:"Add entities to the list?",details:"Marked entities can be now added to the list you selected.",action:"Add to list"},
			remove	:{title:"Remove entities?",details:"Marked entities will be removed from this list only. They will remain in other list and in the history.",action:"Remove"},
			"delete"	:{title:"Delete entities?",details:"Marked entities will be completely removed from all lists and deleted from the history",action:"Delete"},

			cleardb	:{title:"Clear all data?",details:"All local data will be deleted",action:"Сlear"}
*/