input::placeholder, [contenteditable]:empty::before, .fallback, .aspect>.name::before
{color:lightgray}

[contenteditable]:focus, [contenteditable]:empty
{/* background-color: white */border: none;outline: none;text-decoration: underline;}

button{border:none;background:none;}

roof {}

button::before, .lists>li.selected
{/* background: #52f; *//* color: white; */background: white;color: indianred;}

roof>tabset>tab	{color: rgba(255,255,255,.5);}
roof>tabset>tab.selected {color: white}

/*li[ui]:hover {background: #eee}*/

.entities>li{background: white;box-shadow: 0 2px 6px rgba(0,0,0,.2);}
.entities>.selected {margin:.5em 0;border-radius:0;box-shadow:none;padding-left: 1.5em;}

.editables {text-align: center;/* background-color: white; *//* position: sticky; *//* top: 0; *//* z-index: 2; *//* border-bottom: 1px solid lightgray; *//* box-shadow: 0 1rem 1rem white; */}
.append>textarea {background-color: floralwhite}

.credit>stars:before{/* -webkit-text-stroke: 1px black/* #52f; */ */;/* color:transparent; */opacity: .2;}

.tag.tagged {/* border-color: inherit */color: #14b;}


.note {
    font-style: italic;
    color: #aaa;
    text-align: left;
    /* display: inline; */
}

stars>stars {color: lightslategray;}

.xtag, action
	{color: #52f;}
	
input.key, .dialog>input
	{/* border-color: #52f; */border: none;}



ul.lists {
    padding: 0 .5rem;
    margin: 1rem 0 0 0;
}


.nav>roof {background: darkslategray;color: white;/* text-align: right; *//* padding-left: 4rem; *//* height: 2rem; */}

.nav>roof::before{
	position:absolute;
	/* content: "REPCH"; */
	left: -.1em;
	/* top: -.2em; */
	font: bold 1em sans-serif;
	color: rgba(255,255,255,.25);
	/* text-shadow: 0px 2px 2px slategrey; */
}

.entity>roof {
  /* background: blueviolet; */
  text-align: center;
  /* height: 8rem; */
  margin: 1em;
}

li>.desc {
  color: gray;
}

.nav>etage>attic {
  background: slategray;
}

vault {
    background: lightslategray;
}