scanner>div {
    position: absolute;
    bottom: 0;
    right: 0;
}
scanner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

scanner>video {
    display: none;
}

scanner>canvas {
    max-width: 100%;
}

scanner>.deck{
	position:absolute;
	bottom:0;
	right:0;
	text-align:right;
}
