/*
--tg-color-scheme: light;
--tg-viewport-height: 590px;
--tg-viewport-stable-height: 590px;

--tg-theme-bg-color: #ffffff;
--tg-theme-secondary-bg-color: #f1f1f1;
--tg-theme-section-bg-color: #ffffff;
--tg-theme-header-bg-color: #ffffff;

--tg-theme-button-color: #40a7e3;
--tg-theme-button-text-color: #ffffff;

--tg-theme-hint-color: #999999;
--tg-theme-link-color: #168acd;

--tg-theme-text-color: #000000;
--tg-theme-section-header-text-color: #168acd;
--tg-theme-subtitle-text-color: #999999;
--tg-theme-accent-text-color: #168acd;
--tg-theme-destructive-text-color: #d14e4e;
*/

:root{
	--shade-color: 100,150,250;
}

body,form {
	background-color: var(--tg-theme-secondary-bg-color);
	color:var(--tg-theme-text-color);
}

page, shield, input, .input, select, textarea {
	background: var(--tg-theme-bg-color);
	color:var(--tg-theme-text-color);
}

button, tab.selected{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
}

tabset{
	color: var(--tg-theme-button-color);
}

page {
    border: 1px solid var(--tg-theme-button-color);
}

.input::before{
	color: var(--tg-theme-button-color);
}



.swap{
	background-color: var(--tg-theme-button-color);
	color: white;
}

span.time {
	background: gold;
	color: black;
}

group{
	border-color:var(--tg-theme-button-color);
}


.rider {
   background-color:rgba(0,250,0,.1);
}


span.places{
	font-style: italic;
	color: var(--tg-theme-subtitle-text-color);
}



:focus-visible {
    background-color: rgba(var(--shade-color),0.1);
}


.area{
	background-color: rgba(var(--shade-color),.1);
}

.area.selected {
	background-color: rgba(var(--shade-color),.3);
}