html {
	background-color: gainsboro;
}

app,.swap {
	background: gold;
}

page,tab.selected,.select,.place {
	background: white;
}

button{
	background: black;
	color: white;
	border-radius: .5em;
}

span.time {
	background: gold;
	color: black;
}

li.ride.vehicle {
	background: lavender;
}