app {
    background: gainsboro;
}

page {
    background: white;
}

tab.selected {
	background: white;
	color: black;
}

button{
	background: black;
	color: white;
}

.select:empty::before {
    color: gray;
    font-style: italic;
}

.place {
    display: inline-block;
    padding: .2em .4em;
    margin: .2em;
    background: white;
    color: black;
}

.area {
    display: inline-block;
    border-radius: .2em;
    background: whitesmoke;
    padding: .25em .5em;
    margin: .25em;
}

.area.selected {
    background: black;
    color: white;
}

.sub {
    margin-left: 1em;
}

.all {
    font-size: 2em;
}

.areas {
    margin: 1em;
}

.regions {
    text-align: center;
    font-size: 1.2em;
}

.region {
    margin: 1em;
    border-top: 1px solid gray;
}

.region>.name {
    font: bold 1em sans-serif;
    margin: .5em;
}

.time {
    display: inline-block;
    padding: .25em .5em;
    background: gainsboro;
    font-weight: bold;
    border-radius: .25em;
    margin-right: 1em;
}

.where {
    flex-direction: column;
}
.when{
    flex-direction: row;
}
.when>input {
    flex: 1;
    text-align: center;
    font-size: 1.25em;
}
.select {
    height: 1em;
    padding: .5em;
    background: white;
}