app {
    background: gold;
}

page {
    background: white;
}

tab.selected {
	background: white;
	color: black;
}

button{
	background: black;
	color: white;
}
deck>button{
	margin-left: .5rem;
	padding: 1em 2em;
}
etage>button {
	font-size: 1.5em;
}



.select:empty::before {
    color: gray;
    font-style: italic;
}

.place {
    display: inline-block;
    padding: .2em .4em;
    margin: .2em;
    background: white;
    color: black;
}

.area {
    display: inline-block;
    border-radius: .2em;
    background: whitesmoke;
    padding: .25em .5em;
    margin: .25em;
}

.area.selected {
    background: black;
    color: white;
}

.sub {
    margin-left: 1em;
}

.all {
    font-size: 2em;
}

.areas {
    margin: 1em;
}

.regions {
    text-align: center;
    font-size: 1.2em;
}

.region {
    margin: 1em;
    border-top: 1px solid gray;
}

.region>.name {
    font: bold 1em sans-serif;
    margin: .5em;
}

span.time {
    display: inline-block;
    padding: .25em .5em;
    background: gold;
    color: black;
    font-weight: bold;
    border-radius: .25em;
    /* margin-right: 1em; */
}

span.price {
    font-weight: bold;
}

span.vehicle {
    display: inline-block;
    padding: 0 .5em;
    font-style: italic;
    /* color: gray; */
}

.where {
    flex-direction: column;
}
.when{
    flex-direction: row;
}
.when>input {
    flex: 1;
    text-align: center;
    font-size: 1.25em;
}
.select {
    height: 1em;
    padding: .5em;
    background: white;
}

span.terms {
	display: block;
    font-weight: bold;
}

span.places {
    display: block;
    margin: .5em 0;
}

li.ride {
    position: relative;
    padding: 1em;
    /* margin: 1em -1em; */
    /* border: 2px solid gainsboro; */
    /* border-radius: .5rem; */
}

li.ride.vehicle {
    background: lavender;
    /* color: white; */
}

span.price {
    position: absolute;
    right: 1em;
    font-size: 1.25em;
}

form.info {
    /* text-align: center; */
}

label.price>input {
    text-align: center;
    font-size: 2em;
}

span.note {
    color: gray;
    font-style: italic;
}

html {
    background-color: gainsboro;
}