[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{/* position:absolute; */animation: 1s fadein;width: 100%;}
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}


html,body {
	font: normal 1rem Roboto, sans-serif;
	height: 100%;
	padding: 0;
	max-width: 24rem;
	margin: 0 auto
}

label {
    display: block;
    margin: .5rem 0;
    /* border-bottom: 1px solid; */
}

body, app, roof, page, etage,form {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: auto;
}

body, app, page, etage {
	flex: 1;
}



input,select,textarea {
	display:block;
	font-size: inherit;
	font-family:inherit;
	padding:.2em;
	border:none;
}

group>select {
    flex: 1;
}

:focus-visible {
    outline: none;
    background: floralwhite;
}

input {
	text-align: inherit;
}

input[type=number] {
	text-align: center;
}

group>input[type="number"] {
    width: 4em;
}

input::placeholder, textarea::placeholder{
	font: italic 1em sans-serif;
}

label>input, label>select, label>textarea,label>group{
	box-sizing: border-box;
	width:100%;
	margin: .5rem 0;
	border-radius: .5rem;
	/* border-bottom: 1px solid; */
	/* background: floralwhite; */
}




button {
	padding: .5em;
	border: none;
	/* border-radius: .5em; */
}


form {
	background: lavender;
	padding: 1rem;
	/* margin: 1rem; */
	border-radius: .5rem;
}

roof, _page {
	padding: 1rem;
	gap: 1rem;
}

page>ul {
	flex: 1;
	overflow-н: auto;
	padding: 0;
}

page>ul::before {
    display: block;
    font-size: 1.25em;
    margin-bottom: 2rem;
}

page>ul>li{
	display: block;
	max-width: 100%;
	overflow: hidden;
	padding: 1em;
}


form>button{
	font-size: 1.5em;
}

group{
	display: flex;
	gap: .1em;
	border-radius: .75rem;
	overflow: hidden;
}

roof>group {
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

tabset {
	display: flex;
	margin-top: .2rem;
	height: 2.2rem;
	bottom:0;
	left: 1rem;
	text-transform: capitalize;
	padding: 0 1em;
	flex-direction: row;
}

tab {
	transition: all .5s;
	padding: .4em .5em;
	border-radius: .25em .25em 0 0;
}


modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
}
modal>scrim{
	background: rgba(0,0,0,.32);
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: fadein .25s ease-out;
}
modal>shield {
	padding: 1rem;
	background: white;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
	position: relative;
	margin: auto;
	max-width: 80%;
	/* min-width: 16rem; */
	display: inline-block;
	max-height: 80%;
	overflow: auto;
}

shield>input {
	border: none;
	width:100%;
	border-bottom: 2px solid;
}
shield>.actions{padding:.5rem;text-align: right;margin: 1rem -1rem -1rem -1rem;}

shield>deck {
    display: block;
    text-align: right;
    margin-top: 2rem;
}