[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{/* position:absolute; */animation: 1s fadein;width: 100%;}
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}


html,body {
	font: normal 1rem Roboto, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

body, app, roof, page, etage,form {
	display: flex;
	flex-direction: column;
}

body, app, page, etage {
	flex: 1;
}



input, select,textarea {
	display:block;
	font-size: inherit;
	font-family:inherit;
	padding:.2em;
	border:none;
	margin: .5rem 0;
	border-radius: .25rem;
}

input {
	text-align: inherit;
}

input[type=number] {
	text-align: right;
}

input::placeholder, textarea::placeholder{
	font: italic 1em sans-serif;
}




button {
	/* margin: 1em; */
	padding: .5em;
	border-radius: .25em;
	border: none;
}




page>form {
	/* margin: 1em; */
	background: lightgrey;
	padding: 1em;
	border-radius: 1em;
}

roof, page {
	/* flex: none; */
	padding: 1rem;
}

page>ul {
	flex: 1;
	overflow:auto;
	padding: 0;
	/* margin: 0; */
}

page>ul::before {
    display: block;
    font-size: 1.25em;
    margin-bottom: 2rem;
}

page>ul>li {
    padding: 1em 0;
}


page>button {
	font-size: 1.5em;
}

form>button{
	font-size: 1.5em;
}


tabset {
	display: flex;
	margin-top: -2.5rem;
	height: 2.5rem;
	bottom:0;
	left: 1rem;
	text-transform: capitalize;
	padding: 0 1em;
	flex-direction: row;
}

tab {
	/* display: inline-block; */
	transition: all .5s;
	padding: .5em;
	/* margin: 0 .1em; */
	border-radius: .25em .25em 0 0;
}


modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
}
modal>scrim{
	background: rgba(0,0,0,.32);
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: fadein .25s ease-out;
}
modal>shield {
	padding: 1rem 1.5rem;
	background: white;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
	position: relative;
	margin: auto;
	max-width: 80%;
	min-width: 50%;
	display: inline-block;
	max-height: 80%;
	overflow: auto;
}

shield>input {
	border: none;
	width:100%;
	border-bottom: 2px solid;
}
shield>.actions{padding:.5rem;text-align: right;margin: 1rem -1rem -1rem -1rem;}