[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{/* position:absolute; */animation: 1s fadein;width: 100%;}
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

BUTTON#tgMainButton{/* display:none; */}


html,body {
	font: normal 1rem Roboto, sans-serif;
	height: 100%;
	max-width: 24rem;
	padding: 0;
	margin: auto;
}

body, app, roof, page, etage {
	display: flex;
	max-height: 100%;
}

body, app, etage {
	flex-direction: column-reverse;
}

roof{
	padding: 1em;
	margin: 1rem;
	border-radius: 1em;
	gap: 1em;
	background: var(--tg-theme-secondary-bg-color);
}

roof,page {
	flex-direction: column;
}

etage {
    flex: 1;
    margin: 1rem;
    height: 100%;
    overflow: auto;
}

page {
    flex: 1;
    overflow-y: auto;
    /* padding: 1em; */
}

input,select,textarea {
	display:block;
	font-size: inherit;
	font-family:inherit;
	padding:.2em;
	border:none;
	background: white;
}

group>input {
	/* padding: .5em; */
}

group>select {
    flex: 1;
}

:focus-visible {
    outline: none;
    /* background: floralwhite; */
}

input {
	text-align: inherit;
}

input[type=number] {
	text-align: center;
}

group>input[type="number"] {
    width: 4em;
}

input::placeholder, textarea::placeholder{
	font: italic 1em sans-serif;
}

label>input, label>select, label>textarea,label>group{
	box-sizing: border-box;
	width:100%;
	/* margin: .5rem 0; */
	/* border-radius: .5rem; */
}


button {
	padding: .5em;
	border: none;
	border-radius: 1em;
}


form {
	/* background: lavender; */
	/* padding: 1rem; */
	/* border-radius: .5rem; */
}

label {
    display: block;
    /* margin: .5rem 0; */
}

form>label {
    margin: .5em 0;
}


page>ul {
	padding: 0;
	margin: 0;
}

page>ul>li{
	display: block;
	max-width: 100%;
	overflow: hidden;
	background: var(--tg-theme-secondary-bg-color);
	position: relative;
	padding: .5em 1em;
	margin: .5em 0;
	border-radius: 1em;
}

form>button{
	font-size: 1.5em;
	margin-top: 1em;
	display: block;
	width: 100%;
}

group{
	display: flex;
	gap: .2em;
	overflow: hidden;
}

roof>group {
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

tabset {
	display: flex;
	flex-direction: row;
	padding: 0 1em;
	margin-bottom: .2rem;
	height: 2.2rem;
	bottom:0;
	left: 1rem;
}

tab {
	transition: all .5s;
	padding: .4em .5em;
	border-radius: 0 0 1em 1em;
}


modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
}
modal>scrim{
	background: rgba(0,0,0,.32);
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: fadein .25s ease-out;
}
modal>shield {
	padding: 1rem;
	/* background: white; */
	border: none;
	border-radius: 1em;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
	position: relative;
	margin: auto;
	max-width: 80%;
	display: inline-block;
	max-height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
}

shield::before{
	display: block;
	text-align:inherit;
}

shield>input {
	border: none;
	width:100%;
	border-bottom: 2px solid;
}
shield>.actions{padding:.5rem;text-align: right;margin: 1rem -1rem -1rem -1rem;}

shield>deck {
    display: block;
    text-align: right;
    margin-top: 2rem;
}

deck {
    /* margin-top: 2em; */
    display: flex;
    flex-direction: row;
    gap: .5em;
}


app {
    padding-bottom: 1em;
    /* max-height: 100%; */
}

html {
    /* font-size: 14px; */
}

span.user {
    font-weight: bold;
}