body{background:whitesmoke;}
.EMPTY{display:none}

.toh{background:white; max-width:24em; margin:1em auto; padding:1em; font:normal 1em sans-serif; border-radius:1em; }
h1{font:bold 1.2em sans-serif; color: gray; }

.tabs{border-bottom:4px solid yellow}
.tab{display:inline-block; padding:.5em; margin:0 .5em; }
.tab.selected{background:yellow}

.page{text-align:left}

.search>.list{background:white; border:1px solid gray; padding:.5em; }
.labelled {margin:2em 0; position:relative;}
.labelled::before{content:attr(label); color:gray; position:absolute; top:-1em;}	
[contenteditable]{background:wheat;outline:none;}

.hero-icon{display:inline-block; padding:1em; margin:.5em; background:steelblue; color:white;}

.hero-bar{display:flex; border-radius:4px; overflow:hidden; margin:.5em 0; background:lavender; }
.hero-bar>.id{padding:.25em; background:slateblue; color:white;}
.hero-bar>.name{padding:.25em; flex:auto; }

.del{padding:.25em}s