.EMPTY{display:none}


html,body,.stacks{
	height:100%;
}

body{
	text-align:center;
	width: 600px;
	margin: 0 auto;
}
 
@media(max-width:600px)	{
	body{
		width: 100%;
		margin: 0;
	}
}

.over{
	transform: rotate(180deg);
	color:slateblue;
	font:bold 1em cursive;
}

a{cursor:pointer}
a:hover{text-decoration:underline}

h2{
	font-size: 2em;
	color: white;
	text-shadow: 0 2px 4px darkblue;
}

.pot{
	transform: rotate(180deg);
	background: linear-gradient(0deg, #48f, #dff);
	width: 100%;
	height: 100%;
}

.rows{
	position:relative;
 }

.rows>.pic{
 position:absolute;
 left: 0;
 bottom: 0px;
 content:"";
 width: 100%;
 height: 100%;
 transform:rotate(180deg);
 background-position: top;
 background-repeat: no-repeat;
 background-size: cover;
}

.row{
	position: relative;
	background: rgba(255,0,255,.9);
	border: 1px solid fuchsia;
	border-radius: 4px;
	height:1em;
	box-shadow: 0 -1px 4px pink;
}

/*
.slide{
	background: pink;
}
*/

.thumb{
	display: inline-block;
	margin-top: 1em;
	border: 1px solid lightgray;
	width: 10em;
	height: 10em;
	background: bottom no-repeat;
	background-size: contain;
	margin: .5em;
}

.thumb:hover{
	background-color: beige;
}

.pic0{background-image:url(pics/5baa557d5b436166115df1be.png)}
.pic1{background-image:url(pics/5c8f6e56071161699047000d.png)}
.pic2{background-image:url(pics/5a546728e2a80160d9b2f7e0.png)}
.pic3{background-image:url(pics/592152f0e113915c2a2bfd1a.png)}
.pic4{background-image:url(pics/5ab888f1a51f616260d6f00c.png)}
.pic5{background-image:url(pics/5c3af381a14a51684647327d.png)}
.pic6{background-image:url(pics/5c7b5a81be3a116941d98af3.png)}
.pic7{background-image:url(pics/5c834e25554c216960e941e5.png)}
.pic8{background-image:url(pics/5c88d267e4c311697675e601.png)}
.pic9{background-image:url(pics/5c8b78297856516980cd6215.png)}
.pic10{background-image:url(pics/59d6382e3553515eeccb748a.png)}
.pic11{background-image:url(pics/5c7d0df8087f6169487e90e3.png)}
