.ui{cursor:pointer}
.ui:hover{text-decoration:underline}
.MUTE{display:none !important}

body{max-width: 72em; margin:2em auto; padding:1em; font:normal 1em/1.6 Georgia,serif; }
h3{margin-top:2em;}
input,button{margin:.5em}
code{background:aliceblue; padding:2px; white-space:nowrap; }

.labelled {margin-top:1em; position:relative;}
.labelled::before{content:attr(label); position:absolute; top:-2em; font-weight:bold; }

/* dapify styles */
.dapify	{margin:2em 0; position:relative}
.dapify>pre{margin:0}
.dapify>.run{padding:1em; box-shadow: 0 4px 12px rgba(0,40,50,.25); margin-top:1em; }

.dapify>.buttons{position:absolute; right:4px; margin-top:-28px;}
.dapify>.buttons>button{margin:0; width:32px; height:24px; }
.dapify>.buttons>.welcome{display:inline; color:cornflowerblue; font:italic .9em sans-serif; margin-right:1em; }
button.render:before{content:"►"}
button.reset:before{content:"⌂"}
 
pre{text-align:left; padding:2em; background-color:aliceblue; font: normal 1.2em/1.5 monospace; max-height:32em; overflow:auto; }
pre>i{color:cornflowerblue;}
pre>b{color:mediumblue}
pre>em{background:lavender; font-style:normal}

.colored-fruits>ul{display:inline-block; vertical-align:top; margin:2em 1em; width:8em;}